<section id="landing">
  <div class="logo">
    <img src="../../assets/Images/logo.png">
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4" (click)="goToindividualsHomePage()">
          <div class="card card_red text-center">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <img id="cardImag" src="../../assets/Images/gov.png">
            </div>
            <div class="price_gov card-item__header">
              <p class="ar">حكومة </p>
              <p>Government</p>
            </div>
          </div>
          <div class="card-item__footer ">
            <p class="ar">خدمات على مدار الساعة  </p>
            <p>Available 24/7</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card_violet text-center">
            <div class="title">
              <i class="fa fa-plane" aria-hidden="true"></i>
              <img src="../../assets/Images/business.png">
            </div>
            <div class="price_busins card-item__header">
              <p class="ar">أعمال</p>
              <p>Business</p>
            </div>

          </div>
          <div class="card-item__footer ">
            <p class="ar">خدمات أعمالك بين يديك </p>
            <p>Establishments eServices</p>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="card card_three text-center">
            <div class="title">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              <img src="../../assets/Images/individual.png">
            </div>
            <div class="price_indiv card-item__header">
              <p class="ar">أفراد</p>
              <p>Individuals</p>
            </div>

          </div>
          <div class="card-item__footer ">
            <p class="ar">خدمات إلكترونية متكاملة</p>
            <p>Integrated eServices</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>